.head { color: #7413dc; font-size: 16pt; font-weight: 600;}
.subhead { font-size: 10pt;}
.list-header { background-color:  #00a794; color: white; }  
.sum_seg {display: none}
.table{ display: flex; flex-wrap: wrap;}
.table_row{ 
flex-grow: 1;
width: 40%;
  padding-bottom: 10px;
}