<ons-card>
    <span class="head">{{eventA.name}}</span>  
 <!-- <span class="subhead">{{eventdates(eventA.startdate,eventA.enddate)}}</span> -->
</ons-card>     
  <ons-card>
    <p class="card_title"><ons-icon   icon="fa-users" ></ons-icon>&nbsp;Attendance</p>
    <span *ngIf="eventA.attendancelimit == 0 ">
    There is no attendance limit for this event.  
    </span>
    <span *ngIf="eventA.attendancelimit != 0">
    There is an attendance limit of {{eventA.attendancelimit}} for this event<span  *ngIf="eventA.limitincludesleaders != 0"> which includes leaders</span>.  
    </span>
    <span *ngIf="eventA.attendancelimit != 0">
     There <span *ngIf="remain(get_total(eventA.limitincludesleaders),eventA.attendancelimit) > 1 || remain(get_total(eventA.limitincludesleaders),eventA.attendancelimit) == 0 ">are</span><span *ngIf="remain(get_total(eventA.limitincludesleaders),eventA.attendancelimit) == 1">is</span> {{remain(get_total(eventA.limitincludesleaders),eventA.attendancelimit)}} place<span *ngIf="remain(get_total(eventA.limitincludesleaders),eventA.attendancelimit) > 1 || remain(get_total(eventA.limitincludesleaders),eventA.attendancelimit) == 0">s</span> remaining.
    </span>
    Currently {{get_count(false)}} member<span *ngIf="get_count(false) > 1 || get_count(false) == 0">s</span> and  {{get_count(true)}} leader<span *ngIf="get_count(true) > 1 || get_count(true) == 0">s</span> are attending.
    <br><br>  
    <ons-list>
    <ons-list-header>Members&nbsp;({{get_count(false)}})</ons-list-header>
    <div *ngFor="let att of event.items ; index as z">
      <ons-list-item expandable *ngIf="att.attending === 'Yes' && att.patrolid > -1" >
      
      <div class="center">{{att.firstname}} {{att.lastname}}</div>
      <div class="expandable-content">
        <ons-list modifier="inset">
        <ons-list-header>Extra Info</ons-list-header>
        <ons-list-item modifier="chevron longdivider" (click)="goto_scoutcard($event,att);" > <ons-icon icon="fa-user"></ons-icon>&nbsp;Contact Details</ons-list-item>  
          <span *ngFor="let value of eventA.structure[1].rows ; index as z">
              <ons-list-item modifier="longdivider" *ngIf="value.field != 'info'">
                <span class="list-item__subtitle">{{value.name}}</span><span class="list-item__title"><ons-icon style="color: green;" icon="fa-coins"  *ngIf="value.field.substring(0, 1) == 'p'"></ons-icon><ons-icon icon="fa-info-circle"  style="color: blue;" *ngIf="value.field.substring(0, 1) != 'p'"></ons-icon>&nbsp;{{att[value.field]}}</span></ons-list-item>
         </span> 
         
        </ons-list>
       </div>  
      </ons-list-item>
      </div>
       <ons-list-header>Leaders&nbsp;({{get_count(true)}})</ons-list-header>
        <div *ngFor="let att of event.items ; index as z">
      <ons-list-item expandable *ngIf="att.attending === 'Yes' && att.patrolid < 0" >
      
      <div class="center">{{att.firstname}} {{att.lastname}}</div>
      <div class="expandable-content">
        <ons-list modifier="inset">
        <ons-list-header>Extra Info</ons-list-header>
        <ons-list-item modifier="chevron longdivider" (click)="goto_scoutcard($event,att);" > <ons-icon icon="fa-user"></ons-icon>&nbsp;Contact Details</ons-list-item>  
          <span *ngFor="let value of eventA.structure[1].rows ; index as z">
              <ons-list-item modifier="longdivider" *ngIf="value.field != 'info'">
                <span class="list-item__subtitle">{{value.name}}</span><span class="list-item__title"><ons-icon style="color: green;" icon="fa-coins"  *ngIf="value.field.substring(0, 1) == 'p'"></ons-icon><ons-icon icon="fa-info-circle"  style="color: blue;" *ngIf="value.field.substring(0, 1) != 'p'"></ons-icon>&nbsp;{{att[value.field]}}</span></ons-list-item>
         </span> 
         
        </ons-list>
       </div>
      </ons-list-item> 
      </div>
    </ons-list>
  </ons-card>
  <ons-card>
  <ons-icon icon="fa-layer-group"></ons-icon>&nbsp;Attendees grouped by 
    <ons-segment #segment id="segment_summary" style="margin-top: 8px; width: 100%">
            <button (click)="update_summary()"><ons-icon icon="fa-swimmer"></ons-icon><span class="sum_seg"> Swimmer</span></button>
            <button (click)="update_summary()"><ons-icon icon="fa-venus-mars"></ons-icon><span class="sum_seg"> Gender</span></button>
            <button (click)="update_summary()"><ons-icon icon="fa-users"></ons-icon><span class="sum_seg"> Patrol</span></button>
            <button (click)="update_summary()"><ons-icon icon="fa-user-tag"></ons-icon><span class="sum_seg"> Role</span></button>
            <button (click)="update_summary()"><ons-icon icon="fa-calendar"></ons-icon><span class="sum_seg"> Age</span></button>
            
          </ons-segment>
   <span *ngFor="let value of labels ; index as z">
      <p>{{value}}<spaN *ngIf="value==''">No Value</spaN> : {{values[z]}}</p>
    </span>
  </ons-card>  
