<ons-page>
<ons-toolbar>
      <div class="center">
        {{globals.application}}
      </div>
      <div class="right">
        <ons-toolbar-button (click)="openMenu()">
          <ons-icon icon="fa-bars"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-bottom-toolbar>
      Version&nbsp;{{globals.version}}
</ons-bottom-toolbar>

        <div class="content">
      <div *ngIf="globals.secret!=''">    
      <h2>Welcome</h2>
      <p>
      <b>Current Term:</b> <span *ngIf="globals.current_term!='-1'">{{globals.config[2][globals.mysection][globals.current_term].name}}</span>&nbsp;<ons-icon (click)="loadPage(termselect)" icon="fa-exchange-alt"></ons-icon>
      </p>
      <p>
      <b>Section:</b>  {{globals.sectionname}}&nbsp;<ons-icon icon="fa-exchange-alt" (click)="loadPage(sectionselect)"></ons-icon>    
      </p>
        <div class="member_outer" (click)="loadPage(medical)">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-ambulance"></ons-icon></div></div>
          <div class="member_name">Health</div>
         </div> 
      </div>
      <div class="member_outer" (click)="loadPage(globalsearch)">   
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-search"></ons-icon></div></div>
          <div class="member_name">Global</div>
         </div> 
      </div>
      <div class="member_outer" (click)="loadPage(birthday)">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-birthday-cake"></ons-icon></div></div>
          <div class="member_name">Birthdays</div>
         </div> 
      </div>
      <div class="member_outer" (click)="loadPage(register)">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-user-clock"></ons-icon></div></div>
          <div class="member_name">Register</div>
         </div> 
      </div>
      <div class="member_outer" (click)="loadPage(lastcheck)">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-user-check"></ons-icon></div></div>
          <div class="member_name">Last Check</div>
         </div> 
      </div>
      <div class="member_outer" (click)="loadPage(events)" *ngIf="globals.event.length>0&&globals.eventA.length>0">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-cube"></ons-icon></div></div>
          <div class="member_name">Events</div>
         </div> 
      </div>
      <div class="member_outer">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-cubes"></ons-icon></div></div>
          <div class="member_name">Programme</div>
         </div> 
      </div>
      <div class="member_outer" (click)="loadPage(sectionselect)">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-exchange-alt"></ons-icon></div></div>
          <div class="member_name">Section</div>
         </div> 
      </div>
      <div class="member_outer" (click)="loadPage(termselect)">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-calendar-alt"></ons-icon></div></div>
          <div class="member_name">Terms</div>
         </div> 
      </div>
      
    
      </div>
    </div>
    </ons-page>
   