<ons-page>
<ons-toolbar>
      <div class="center">
        {{globals.application}}
      </div>
      <div class="right">
        <ons-toolbar-button (click)="openMenu()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-bottom-toolbar>
      <div class="left bottom-bar">
  <ons-icon icon="fa-users">&nbsp;</ons-icon><b>{{counter}}</b>/{{members.length}} {{lastclick}}
 <ons-toolbar-button>Add</ons-toolbar-button> </div>
  <div class="right"></div>
</ons-bottom-toolbar>

        <div class="content">
      <div *ngIf="globals.secret!=''">    
      <h2>Welcome</h2>
        <div class="member_outer">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-ambulance"></ons-icon></div></div>
          <div class="member_name">Health</div>
         </div> 
      </div>
      <div class="member_outer">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-search"></ons-icon></div></div>
          <div class="member_name">Global</div>
         </div> 
      </div>
      <div class="member_outer">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-birthday-cake"></ons-icon></div></div>
          <div class="member_name">Birthdays</div>
         </div> 
      </div>
      <div class="member_outer">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-user-check"></ons-icon></div></div>
          <div class="member_name">Register</div>
         </div> 
      </div>
      <div class="member_outer">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-cube"></ons-icon></div></div>
          <div class="member_name">Events</div>
         </div> 
      </div>
      <div class="member_outer">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-cubes"></ons-icon></div></div>
          <div class="member_name">Programme</div>
         </div> 
      </div>
      <div class="member_outer">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-exchange-alt"></ons-icon></div></div>
          <div class="member_name">Section</div>
         </div> 
      </div>
      <div class="member_outer" (click)="loadPage(termselect)">
           <div class="member_inner">
          <div class="member_box"><div class="member_initial"><ons-icon icon="fa-calendar-alt"></ons-icon></div></div>
          <div class="member_name">Terms</div>
         </div> 
      </div>
      <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
        {{globals.mysection}}
        {{globals.current_term}}
        {{globals.config[2][globals.mysection][globals.current_term].name}}
        
      </p>
    
    <div  id="gridcontainer" *ngFor="let member of members; index as i"> 
    <div *ngIf="((i==0)||(member.patrol!=members[i-1].patrol))" class="patrolheader">
    <span *ngIf="member.patrol==''">No Patrol</span>  
    <span *ngIf="member.patrol!=''">{{member.patrol}}</span>
    </div>  
    <div class="member_outer" (click)="go($event,member);">
    <div class="member_inner">
      
    <div class="member_box" *ngIf="null!=member.photo_guid">  
     <!-- <span class="notification" *ngIf="member.patrol_role_level==2">PL</span> 
      <span class="notification" *ngIf="member.patrol_role_level==1">APL</span> 
      <span class="notification" *ngIf="member.patrol_role_level==3">SPL</span>-->
      <span class="notification" *ngIf="section_has_roles()==true">{{globals.patrolroles[globals.config[0][globals.mysection].section_type][member.patrol_role_level]}}</span> 
      <div class="member_initial"  >
         
    <img  src="{{get_photo_url(member)}}" class="member_photo" >
    </div>
    </div>
    <div class="member_box" *ngIf="null==member.photo_guid">
     <!-- <span class="notification" *ngIf="member.patrol_role_level==2">PL</span> 
      <span class="notification" *ngIf="member.patrol_role_level==1">APL</span> 
      <span class="notification" *ngIf="member.patrol_role_level==3">SPL</span> -->
          <span class="notification" *ngIf="section_has_roles()==true">{{globals.patrolroles[globals.config[0][globals.mysection].section_type][member.patrol_role_level]}}</span> 
    <div class="member_initial"  >{{member.first_name.substring(0,1)}}<span *ngIf="no_matches(member.first_name)!=1">{{member.last_name.substring(0,1)}}</span>
     </div> 
    </div>
    <div class="member_name"> {{member.first_name}}</div>
    </div>
   
    </div>

    </div>  
      </div>
    </div>
    </ons-page>
   <!--<ons-tabbar position="auto" modifier="autogrow white-content" swipeable #tabbar>
  <div class="tabbar__content"></div>
  <div class="tabbar">
     <ons-tab label="Register" icon="md-account-add" ></ons-tab>
     <ons-tab label="Inspect" icon="md-search" ></ons-tab>
     <ons-tab label="Add Points" icon="md-plus-circle"  active></ons-tab>
    <ons-tab label="Stats" icon="md-view-dashboard" ></ons-tab>
  </div>
</ons-tabbar>-->