.head { color: #7413dc; font-size: 16pt; font-weight: 600;}
.subhead { font-size: 10pt;color: #7413dc;}
.helper { padding: 5px;}
.but { color: #00a794; }
.butlab { font-weight: 600;}
.wrapper {
  position: relative;
}
#infoi {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  padding-right: 15px;
}
.helpcount {
  font-size: 24pt;
  color: #7413dc;
}
.longtext[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
    font-style: italic;
}

.longtext[placeholder]:empty:focus:before {
    content: "";
}
.longtext {border:solid; padding: 5px; font-size: 10pt;}