<div (window:beforeunload)="doSomething()"></div>
<ons-splitter>
	<!--[attr.collapse]="'collapse'"-->
	<ons-splitter-side #menu side="right" width="220px" [attr.collapse]="'(max-width: 600px)'" [attr.swipeable]="'swipeable'">
		<ons-page>
			<ons-list>
				<ons-list-item (click)="loadPage(home)" tappable>
					<div class="left">
						<ons-icon icon="fa-home" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Home
					</div>
				</ons-list-item>
				<ons-list-item *ngIf="globals.configread==true" (click)="loadPage(cards)" tappable>
					<div class="left">
						<ons-icon icon="fa-exchange-alt" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Switch Sections
					</div>
				</ons-list-item>
				<ons-list-item (click)="loadPage(main)" tappable *ngIf="globals.configread==true">
					<div class="left">
						<ons-icon icon="fa-cog" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Settings
					</div>
				</ons-list-item>
        	<ons-list-item (click)="loadPage(checked)" tappable *ngIf="globals.configread==true">
					<div class="left">
						<ons-icon icon="fa-user-check" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Last Checked
					</div>
				</ons-list-item>
        <ons-list-item (click)="loadPage(medical)" tappable *ngIf="globals.configread==true">
					<div class="left">
						<ons-icon icon="fa-ambulance" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Health Info
					</div>
				</ons-list-item>
        <ons-list-item (click)="loadPage(globalsearch)" tappable *ngIf="globals.configread==true">
					<div class="left">
						<ons-icon icon="fa-search" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Global Search
					</div>
				</ons-list-item>
         <ons-list-item (click)="loadPage(birthday)" tappable *ngIf="globals.configread==true">
					<div class="left">
						<ons-icon icon="fa-birthday-cake" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Birthdays
					</div>
				</ons-list-item>
        <ons-list-item (click)="loadPage(events)" tappable  *ngIf="globals.event.length>0&&globals.eventA.length>0">
					<div class="left">
						<ons-icon icon="fa-cube" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Events
					</div>
				</ons-list-item>
        <ons-list-item (click)="(globals.loaded.progs&&globals.access.progs>0)&&loadPage(progs)" tappable *ngIf="globals.access.progs>0&&globals.loaded.progs" >
					<div class="left">
						<ons-icon icon="fa-cubes" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Programme
					</div>
				</ons-list-item>
        <ons-list-item (click)="(globals.loaded.progs&&globals.access.progs>0)&&loadPage(rosta)" tappable *ngIf="globals.access.progs>0&&globals.loaded.progs" >
					<div class="left">
						<ons-icon icon="fa-hands-helping" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Rosta
					</div>
				</ons-list-item>
      <ons-list-item (click)="logout(home)" tappable *ngIf="globals.configread==true">
					<div class="left">
						<ons-icon icon="fa-sign-out-alt" class="list-item__icon"></ons-icon>
					</div>
					<div class="center">
						Logout
					</div>
				</ons-list-item>
			</ons-list>
		</ons-page>
	</ons-splitter-side>
	<ons-splitter-content>
		<ons-navigator #navi [page]="home"></ons-navigator>
	</ons-splitter-content>
</ons-splitter>
