<ons-card>
		<div class="header_block">
			<div class="member_header" *ngIf="null!=member.photo_guid">
				<img *ngIf="null!=member.photo_guid" src={{member_image}} alt="{{cardTitle}}" class="member_photo">
      </div>    
        <div class="title member_name" *ngIf="null!=member.photo_guid">{{member.first_name}}<br>{{member.last_name}}</div>
        <div class="title member_name" *ngIf="null==member.photo_guid">{{member.first_name}} {{member.last_name}}</div>
    </div>
  
	</ons-card>

 <ons-card>
    <p class="card_title">Events</p>
    <ons-list-item expandable>
      Events List
      <div class="expandable-content" > 
      <ons-list-item *ngFor="let ev of events_list ; index as z">{{ev.name}}<span class="right">{{ev.attending}}</span></ons-list-item>
      
      </div>
    </ons-list-item>
  </ons-card>