
<ons-page>
	<ons-toolbar>
		<div class="center">
			{{globals.application}}
		</div>
    <div class="left">
		<ons-back-button>Back</ons-back-button>
	</div>
		<div class="right">

			<ons-toolbar-button (click)="sortDialog.show()">
				<ons-icon icon="fa-sort"></ons-icon>
			</ons-toolbar-button>

			<ons-toolbar-button (click)="openMenu()">
				<ons-icon icon="fa-bars"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	<ons-speed-dial position="bottom right" direction="up">
		<ons-fab  >
			<ons-icon icon="md-eye"></ons-icon>
		</ons-fab>
		<ons-speed-dial-item (click)="summary(1)" >
			<ons-icon icon="fa-file-medical"></ons-icon>
		</ons-speed-dial-item>
		<ons-speed-dial-item (click)="summary(2)" >
			<ons-icon icon="fa-allergies"></ons-icon>
		</ons-speed-dial-item>
		<ons-speed-dial-item (click)="summary(3)" >
			<ons-icon icon="fa-utensils"></ons-icon>
		</ons-speed-dial-item>
		<ons-speed-dial-item (click)="summary(4)">
			<ons-icon icon="fa-info-circle"></ons-icon>
		</ons-speed-dial-item>
	</ons-speed-dial>

	<div class="content">
     <ons-search-input id="text" placeholder="Filter by Name" [(value)]="namefilter" (keyup)="update_search($event,-1)" style="width:100%" ></ons-search-input>
		<ons-segment #segment id="segment" style="width: 100%; margin-top: 8px;">
			<button (click)="update_search($event,1)">All</button>
            <button  (click)="update_search($event,2)"><ons-icon  icon="fa-file-medical" ></ons-icon><span class="segmed">Medical</span></button>
            <button (click)="update_search($event,3)"><ons-icon  icon="fa-allergies" ></ons-icon><span class="segmed">Allergy</span></button>
            <button (click)="update_search($event,4)"><ons-icon  icon="fa-utensils" ></ons-icon><span class="segmed">Diet</span></button>
            <button (click)="update_search($event,5)"><ons-icon  icon="fa-info-circle" ></ons-icon><span class="segmed">Other</span></button>
          </ons-segment>
         

      <ons-list-title  *ngIf="filtername != ''"><ons-icon icon="fa-filter"></ons-icon>&nbsp;{{filtername}}&nbsp;({{filterlist.length}})</ons-list-title>
      <ons-list><span  *ngFor="let member of members; index as i" >
        <ons-list-item (click)="push($event, member,i)"*ngIf="true==filterdisplay[i]">
      
        <span class="left" >
        <div class="list-item__thumbnail" *ngIf="null==member.photo_guid">

    <div class="member_initial member_initial2"  >{{member.first_name.substring(0,1)}}<span *ngIf="no_matches(member.first_name)!=1">{{member.last_name.substring(0,1)}}</span>
     </div> 
    </div>
       <!-- <ons-icon  icon="fa-user-circle" class="list-item__icon" style="color: LightGray;" *ngIf="null==member.photo_guid"></ons-icon>-->
        <img class="list-item__thumbnail" src="{{get_photo_url(member)}}" *ngIf="null!=member.photo_guid">        
        </span>
        <span class="right" >
        <ons-icon  icon="fa-file-medical" class="list-item__icon" style="color: green;" *ngIf="''!=member.custom_data[9][24253]"></ons-icon>
        <ons-icon  icon="fa-allergies" class="list-item__icon" style="color: red;" *ngIf="''!=member.custom_data[9][24254]" ></ons-icon>
        <ons-icon  icon="fa-utensils" class="list-item__icon" style="color: black;" *ngIf="''!=member.custom_data[9][24255]" ></ons-icon>  
        <ons-icon  icon="fa-info-circle" class="list-item__icon" style="color: blue;" *ngIf="''!=member.custom_data[9][24257]"></ons-icon>  
        </span>  
        <span class="list-item__title">{{member.first_name}} {{member.last_name}}</span>
        <span class="list-item__subtitle"></span>
      
        </ons-list-item>
       </span>
      </ons-list>
</div>
</ons-page>
<ons-dialog animation="default" cancelable #sortDialog  >
    <div class="dialog-mask"></div>
      <div class="dialog" style="width: 80%">
        <div class="dialog-container" style="height: 300px;">
          <ons-page>
            <ons-toolbar>
              <div class="center">Sort</div>
            </ons-toolbar>
            <div class="content">

<br>
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">First Name</div>
<div class="divTableCell"><ons-button style="background-color: LightGray; color: black" (click)="sort_list('first_name','asc');sortDialog.hide()" modifier="outline" > <ons-icon  icon="fa-sort-alpha-up" class="list-item__icon"> </ons-icon></ons-button></div>
<div class="divTableCell"> <ons-button style="background-color: LightGray; color: black" (click)="sort_list('first_name','desc');sortDialog.hide()" modifier="outline"> <ons-icon  icon="fa-sort-alpha-down" class="list-item__icon"> </ons-icon></ons-button></div>
</div>
<div class="divTableRow">
<div class="divTableCell">Last Name</div>
<div class="divTableCell"> <ons-button style="background-color: LightGray; color: black" (click)="sort_list('last_name','asc');sortDialog.hide()"> <ons-icon  icon="fa-sort-alpha-up" class="list-item__icon"> </ons-icon></ons-button></div>
<div class="divTableCell"> <ons-button style="background-color: LightGray; color: black" (click)="sort_list('last_name','desc');sortDialog.hide()"> <ons-icon  icon="fa-sort-alpha-down" class="list-item__icon"> </ons-icon></ons-button></div>
</div>
<div class="divTableRow">
<div class="divTableCell">Age</div>
<div class="divTableCell"> <ons-button style="background-color: LightGray; color: black" (click)="sort_list('age','asc');sortDialog.hide()"> <ons-icon  icon="fa-sort-amount-up" class="list-item__icon" ></ons-icon></ons-button></div>
<div class="divTableCell"> <ons-button style="background-color: LightGray; color: black" (click)="sort_list('age','desc');sortDialog.hide()"> <ons-icon  icon="fa-sort-amount-down" class="list-item__icon" ></ons-icon></ons-button></div>
</div>
</div>
</div>


            </div>
          </ons-page>
        </div>
      </div>
       
  </ons-dialog>