.head { color: #7413dc; font-size: 16pt; font-weight: 600; margin-top: 0px;}
.head2 { margin-top: 0px;} 
.subhead { font-size: 10pt;color: #7413dc;}
.helper { padding: 5px;}
.but { color: #00a794; }
.butlab { font-weight: 600;}
.wrapper {
  position: relative;
}
#infoi {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  padding-right: 15px;
}
.helpcount {
  font-size: 24pt;
  color: #7413dc;
}
.longtext[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
    font-style: italic;
}

.longtext[placeholder]:empty:focus:before {
    content: "";
}
.longtext {border:solid; padding: 5px; font-size: 10pt;}
.dialog { width:90%; height: 70%}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 
  background:#ddd;
 
}
#myDropdown { max-height: 250px;
  overflow-y: scroll; width: 70%}
.dropdown-content a:hover {background-color: #00a794;}
#myInput {width: 70%; font-size:large;}
.footer {    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
        text-align: center;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;}

    .tag {border: solid;     padding: 2px;
    margin: 2px;display: flex; }
    .rotate:hover {-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;}
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.leaderline {height: 50px;}