/* Add application setyles & imports to this file! */
:root {
  --scoutpurple: #7413dc; 
}
:checked+.segment__button {  background-color: #00a794; color: white !important}
ons-speed-dial-item.fab { background-color: #7413dc; color: white !important}
button.fab, button.fab:active, ons-fab.fab:active, ons-fab.fab { background-color:  #7413dc; color: white !important }
ons-speed-dial-item.fab:active { background-color:  rgb(0, 167, 148); color: white !important}
.segment__button { color: black}
.segment__button { border-color: black}
span.notification.blue { background: #7413dc}
span.notification.red { background:  #e22e12;}
span.notification.amber { background: #ffe627; color: black}
span.notification.green { background: #23a950;}
h2 {text-align: center;}
.button--material { background: #7413dc}
.button { background: #7413dc}
.text-input--material__label--active {color: #00a794;}
.toolbar-button { color: var(--scoutpurple)}
.back-button__label {color: var(--scoutpurple)}
.back-button__icon {fill:var(--scoutpurple)}
:checked+.checkbox__checkmark:before {background: var(--scoutpurple);}
@media only screen and (min-width: 600px) {
.menu_sel  {
   display: none;
  }
}