<ons-page>
<ons-toolbar>
      <div class="center">
        {{globals.application}}
      </div>
      <div class="left">
		<ons-back-button>Back</ons-back-button>
	</div>
      <div class="right menu_sel">
        
        <ons-toolbar-button (click)="openMenu()">
          <ons-icon icon="fa-bars"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
   
        <div class="content">
       
      <h2>Programme</h2>
     
    
<ons-card *ngIf="globals.sectiondata[4].items.length==0">No programme for the selected term</ons-card> 
  <ons-list>
   
  <span  id="gridcontainer" *ngFor="let prog of globals.sectiondata[4].items; index as i">
<ons-list-item (click)="go($event,prog);" modifier="chevron">
      
        <span class="left">
        
              
        </span>
        <span class="list-item__title">  
          {{prog.title}} 
           
          </span>
        <span class="list-item__subtitle">{{eventdates(prog.meetingdate,null)}}<span *ngIf="prog.starttime != '00:00:00'"> from {{timeformat(prog.starttime)}}</span><span *ngIf="prog.endtime != '00:00:00'"> until {{timeformat(prog.endtime)}}</span></span>
        <span class="right" >
           <ons-icon icon="fa-user-minus"  style="color: darkgrey;padding: 10px;padding-right: 0px;" class="helper" *ngIf="leaders_not(prog.eveningid)>0"></ons-icon>
           <span style="margin-right: 15px;" class="notification not_style" *ngIf="leaders_not(prog.eveningid)>0">{{leaders_not(prog.eveningid)}}</span>
          <ons-icon icon="fa-hands-helping" style="color: limegreen;" class="helper" *ngIf="helpers(prog.eveningid)==3"></ons-icon>
          <ons-icon icon="fa-hands-helping" style="color: orange;" class="helper" *ngIf="helpers(prog.eveningid)==2"></ons-icon>
          <ons-icon icon="fa-hands-helping" style="color: red;" class="helper" *ngIf="helpers(prog.eveningid)==1"></ons-icon>
          <span class="notification not_style" *ngIf="helpers_notif(prog.eveningid)!=''">{{helpers_notif(prog.eveningid)}}</span>
        </span>
</ons-list-item>
  </span>
  </ons-list>
</div><!--List-->
    </ons-page>