<ons-page>
	<ons-toolbar>
		<div class="center">
			{{globals.application}}
		</div>
    <div class="left">
		<ons-back-button>Back</ons-back-button>
	</div>
		<div class="right">

			<ons-toolbar-button (click)="filterDialog.show()">
				<ons-icon icon="fa-filter"></ons-icon>
			</ons-toolbar-button>

			<ons-toolbar-button (click)="openMenu()">
				<ons-icon icon="fa-bars"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	

	<div class="content">
		
      <ons-list><span  *ngFor="let member of membersdates; index as i" >
        <ons-list-item (click)="push($event, member,i)">
      
        <span class="left" >
        <div class="list-item__thumbnail" *ngIf="null==member.photo_guid">

    <div class="member_initial member_initial2"  >{{member.first_name.substring(0,1)}}<span *ngIf="no_matches(member.first_name)!=1">{{member.last_name.substring(0,1)}}</span>
     </div> 
    </div>
       <!-- <ons-icon  icon="fa-user-circle" class="list-item__icon" style="color: LightGray;" *ngIf="null==member.photo_guid"></ons-icon>-->
        <img class="list-item__thumbnail" src="{{get_photo_url(member)}}" *ngIf="null!=member.photo_guid">        
        </span>
        <span class="right" >
          {{member.date}}
        </span>  
        <span class="list-item__title">{{member.name}}</span>
        <span class="list-item__subtitle"></span>
      
        </ons-list-item>
       </span>
      </ons-list>
</div>
</ons-page>
<ons-dialog animation="default" cancelable #filterDialog  >
    <div class="dialog-mask"></div>
      <div class="dialog" style="width: 80%">
        <div class="dialog-container" style="height: 300px;">
          <ons-page>
            <ons-toolbar>
              <div class="center">filter</div>
            </ons-toolbar>
            <div class="content">

<br>
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">First Name</div>
<div class="divTableCell"><ons-button style="background-color: LightGray; color: black" (click)="sort_list('first_name','asc');sortDialog.hide()" modifier="outline" > <ons-icon  icon="fa-sort-alpha-up" class="list-item__icon"> </ons-icon></ons-button></div>
<div class="divTableCell"> <ons-button style="background-color: LightGray; color: black" (click)="sort_list('first_name','desc');sortDialog.hide()" modifier="outline"> <ons-icon  icon="fa-sort-alpha-down" class="list-item__icon"> </ons-icon></ons-button></div>
</div>
<div class="divTableRow">
<div class="divTableCell">Last Name</div>
<div class="divTableCell"> <ons-button style="background-color: LightGray; color: black" (click)="sort_list('last_name','asc');sortDialog.hide()"> <ons-icon  icon="fa-sort-alpha-up" class="list-item__icon"> </ons-icon></ons-button></div>
<div class="divTableCell"> <ons-button style="background-color: LightGray; color: black" (click)="sort_list('last_name','desc');sortDialog.hide()"> <ons-icon  icon="fa-sort-alpha-down" class="list-item__icon"> </ons-icon></ons-button></div>
</div>
<div class="divTableRow">
<div class="divTableCell">Age</div>
<div class="divTableCell"> <ons-button style="background-color: LightGray; color: black" (click)="sort_list('age','asc');sortDialog.hide()"> <ons-icon  icon="fa-sort-amount-up" class="list-item__icon" ></ons-icon></ons-button></div>
<div class="divTableCell"> <ons-button style="background-color: LightGray; color: black" (click)="sort_list('age','desc');sortDialog.hide()"> <ons-icon  icon="fa-sort-amount-down" class="list-item__icon" ></ons-icon></ons-button></div>
</div>
</div>
</div>


            </div>
          </ons-page>
        </div>
      </div>
       
  </ons-dialog>